asgiref==3.5.0
charset-normalizer==2.0.12
Django==4.0.4
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
idna==3.3
mysqlclient==2.1.0
pycparser==2.21
PyJWT==2.3.0
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
